:root {
    --main-white: #FFF;
    --gray-light: #eaeaea;
    --gray-hover: #d0d0d0;

    --gray-dark: #6d6d70;
    --text-primary: #2C2D2E;
    --text-secondary: #5D5E64;

    --special-red: #F74061;
}
